---
import "../styles/style.css"
import Layout from "../layouts/layout.astro"
---

<Layout>
<body>
    <div class="form-container">
        <h2>Login</h2>
        <form method="post"  id="registrationForm">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <button class="button-login">Login</button>
        </form>
        <button class="button-register">Register Here</button>
    </div>
</body>
</Layout>

<script>
import { navigate } from "astro:transitions/client";

    // Find all buttons with the `alert` class on the page.
    const buttons = document.querySelectorAll('button.button-register');
  
    // Handle clicks on each button.
    buttons.forEach((button) => {
      button.addEventListener('click', () => {
        navigate("/register")
      });
    });
  </script>

