---
import "../styles/style.css"
import Nav from "../components/nav.astro"
import Layout from "../layouts/layout.astro"
---

<Layout>
    <body>
        <div class="form-container">
            <h2>Register</h2>
            <form id="registrationForm">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>

                <button type="submit" class="button-login">Register</button>
            </form>
        </div>
    </body>
</Layout>
</html>